
<footer>
    <div class="redes-sociales">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
        <a href="#"><i class="fab fa-github"></i></a>
    </div>

    <h3>GaMi | Juntos seremos grandes - copyright 2020</h3>
</footer>
</body>