<header class="fadeInDown">
    <div class="contenedor">
        <div id="navegadores">
            <a href="#"><img src="/images/GaMicono.png" alt="GaMi - Juntos seremos grandes"></a>
            <nav>
                <ul>
                    <li><a class="actual" href="#">Inicio</a></li>
                    <li><a href="#">Explorar</a></li>
                    <li><a href="#">Nosotros</a></li>
                </ul>
            </nav>
        </div>
        <div id="controles">
            <% if(session.usuario !== undefined){ %>
                <div id="usuario-image">
                    <img class="bar_element_right bar_element_image" src=<%= session.usuario.photo %>>
                    <ul>
                        <li><a href="#">Configuracion</a></li>
                        <li><a href="loggout-aux">Cerrar sesion</a></li>
                    </ul>
                </div>
                <form action="submit">
                    <input type="text" placeholder="Buscar">
                    <button>Ir</button>
                </form>
            <% }else { %>
                <a href="#">Registrarse</a>
                <a href="ingresar">Ingresar</a>
            <% } %>
        </div>
    </div>
</header>