<%-include ('header.ejs')%>
<%-include ('nav-bar.ejs')%>
<div>item 1</div>
<div>item 2</div>
<div>item 3</div>
<div>item 4</div>
<div>item 5</div>
<div>item 6</div>
<div>item 7</div>
<div>item 8</div>
<div>item 9</div>
<div>item 10</div>
<div>item 11</div>
<div>item 12</div>
<div>item 13</div>
<div>item 14</div>
<div>item 15</div>
<div>item 16</div>
<div>item 17</div>
<div>item 18</div>
<div>item 19</div>
<div>item 20</div>
<div>item 21</div>
<div>item 22</div>
<div>item 23</div>
<div>item 24</div>
<div>item 25</div>
<div>item 26</div>
<div>item 27</div>
<div>item 28</div>
<div>item 29</div>
<div>item 30</div>
<div>item 31</div>
<div>item 32</div>
<div>item 33</div>
<div>item 34</div>
<div>item 35</div>
<div>item 36</div>
<div>item 37</div>
<div>item 38</div>
<div>item 39</div>
<div>item 40</div>
<div>item 41</div>
<div>item 42</div>
<div>item 43</div>
<div>item 44</div>
<div>item 45</div>
<div>item 46</div>
<div>item 47</div>
<div>item 48</div>
<div>item 49</div>
<div>item 50</div>
<%-include ('footer.ejs')%>