<%- include ("shared/header.ejs") %>
<section id="banner">
    <div class="contenedor">
        <img class="animated fadeIn" src="/images/GaMicono.png" alt="">
    </div>
</section>

<section class="explorar">
    <div class="contenedor animated fadeIn">
        <h1>Explorar</h1>
        <p>Encuentra a la persona o portafolio que estas buscando.</p>
        <form action="submit">
            <input type="text" placeholder="Ingrese aqui un nombre o un portafolio">
            <button>Buscar</button>
        </form>
    </div>
</section>

<section id="nosotros">
    <div class="contenedor">
        <div id="descripcionGami">
            <h1>Proyecto GaMi</h1>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book.
            </p>
        </div>
            <img src="/images/GaMicono.png" alt="Gami icono">

    </div>
</section>
<section id="cajaMisionVision">
    <div class="contenedor">
        <div class="caja">
            <h1>Mision</h1>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book.
            </p>
            <h1>Vision</h1>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book.
            </p>
        </div>

    </div>
</section>

<section id="cajas">

    <div class="contenedor">
        <h1>Tecnologias usadas</h1>
        <div class="caja">
            <img src="images/html5.png">
            <h3>HTML5</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. </p>
        </div>
        <div class="caja">
            <img src="images/css3.png">
            <h3>CSS3</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. </p>
        </div>
        <div class="caja">
            <img src="images/js.png">
            <h3>JavaScript</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. </p>
        </div>
        <div class="caja">
            <img src="images/nestjs.png">
            <h3>Nestjs</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. </p>
        </div>
        <div class="caja">
            <img src="images/mariadb.png">
            <h3>MariaDB</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. </p>
        </div>
        <div class="caja">
            <img src="images/ejs.png">
            <h3>EJS</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. </p>
        </div>
    </div>
</section>
<%- include ("shared/footer.ejs") %>