<%- include ("shared/header.ejs") %>
<section id="banner">
    <div class="contenedor">
        <img class="fadeIn" src="/images/GaMicono.png" alt="">
    </div>
</section>
<section class="explorar fadeInUp">
    <div class="contenedor">
        <h1>Explorar</h1>
        <p>Encuentra a la persona o portafolio que estas buscando aqui.</p>
        <form action="submit">
            <input type="text">
            <button>Buscar</button>
        </form>
    </div>
</section>

<%- include ("shared/footer.ejs") %>