<%- include("../../shared/header-bar") %>
<div id="ingreso">
    <div class="contenedor">
    <div class="caja">
        <h1>Ingreso</h1>
        <form action="submit">
            <div class="form-group">
                <label for="correo">Correo</label>
                <input id="correo"
                       type="email"
                       name="correo"
                       placeholder="Ej: correo@correo.com"
                       title="Ingresar correo electronico"
                       class="form-control">
                <small id="nombreIDHelp"
                       class="form-text text-muted">
                    Ingrese su correo electronico con el que esta registrado
                </small>
            </div>

            <div class="form-group">
                <label for="contrasena">Contrasena</label>
                <input id="contrasena"
                       type="password"
                       name="contrasena"
                       title="Ingresar su contrasena"
                       class="form-control">
                <small id="nombreIDHelp"
                       class="form-text text-muted">
                    Ingrese su contrasena
                </small>
            </div>
            <button type="submit"
                    class="btn btn-success"
            >
                Ingresar
            </button>
        </form>

    </div>
    </div>
</div>
<%- include("../../shared/footer-bar") %>