:root {
    --generalColorBackground: #f4f4f4;
    --whiteColor: #fff;
    --whiteColorTransparent: rgba(255, 255, 255, .5);
    --darkColor: #343a40;
    --whiteColorSecondary: #ddd;
    --darkColorTransparent: rgba(52, 58, 64, .5);
    --greenJungle: #59932b;
    --greenJungleSecundary: #6ea838;
    --greenJungleTransparent: rgba(89, 147, 43, .5);
    --redColor:#d62d0e;
    --redColorSecondary: #d1442a;
}

body, html{
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
}

.contenedor {
    width: 80%;
    box-sizing: border-box;
    padding: 20px 0;
    margin: auto;
}

p{
    margin: 20px 0;
}

/*background classes*/

.background-image-1{
    background-image: url("../images/foto1.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.background-image-2{
    background-image: url("../images/foto2.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.background-image-3{
    background-image: url("../images/foto3.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.background-pattern-lines{
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2359932b' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.background-dark{
    background-color: var(--darkColor);
    color: var(--whiteColor);
}

.background-white{
    background-color: var(--whiteColorSecondary);
    color: var(--darkColor);
}

.background-red{
    background-color: var(--redColorSecondary);
    color: var(--whiteColor);
    transition: background-color .5s,color .8s;
}

.no-background{
    background:none;
}
/*sizong classes*/

.full-size{
    height: 100%;
    width: 100%;
}

.vertical-size{
    height: 100%;
    width: 450px;
    overflow:hidden;
    padding: 20px;
    box-sizing: border-box;
    color: var(--whiteColor);
    font-weight: bold;
    text-shadow: 2px 2px var(--darkColor);
}

/*flex classes*/

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-center{
    display: flex;
    justify-content: center;
}

.flex-center-vertical{
    display: flex;
    align-items: center;
}

.flex-full-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-no-wrap{
    display: flex;
    flex-wrap: nowrap;
}
/*btn classes*/

.btn{
    cursor: pointer;
    border-radius: 5px;
    border-style: none;
    padding: 10px;
    font-weight: bold;
    margin: 1em 10px;
}

.btn-success{
    background-color:var(--greenJungle);
    color: var(--whiteColor);
}

.btn-success:hover{
    background-color: var(--greenJungleSecundary);
}

.btn-warning{
    background-color:var(--redColor);
    color: var(--whiteColor);
}

.btn-warning:hover{
    background-color: var(--redColorSecondary);
}

/*card classes*/

.card{
    display: block;
    border-radius: 5px;
    padding: 20px;
}

.big-card{
    display: block;
    border-radius: 5px;
    padding: 20px;
    margin: 50px;
    width: 350px;
}

/*Movimiento*/

.move-left{
    position: absolute;
    left: -450px;
}

.move-0{
    position: relative;
    left: 0;
    transition: left .3s;
}

/*padding classes*/
.padding-10{

}

/*form group classes*/
.form-group{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;
}

.form-group input{
    border-style: none;
    border-radius: 5px;
    font-size: 1.5em;
    margin: 10px 0;
    padding-left: 10px;
}


/*text classes*/
.text-center{
    text-align: center;
}
.text-muted{
    color:var(--whiteColorTransparent)
}
.text-muted-red{
    color: #d62d0e;
    text-shadow: none;
    text-decoration: underline;
}

@media (max-width: 500px){

    .card{
        width: 250px;
    }

    .vertical-size{
        width: 100%;
    }

    .big-card{
        margin: 0;
    }
}