:root{
    --generalColorBackground: #f4f4f4;
    --whiteColor:#fff;
    --darkColor: #343a40;
    --darkColorTransparent: rgba(52,58,64,.5);
    --greenJungle:#59932b;
    --greenJungleTrasnparent:rgba(89,147,43,.5);

}

body,html{
    font: 15px Arial, Helvertica, sans serif;
    padding: 0;
    margin:0;
    background-color: var(--generalColorBackground);
    height: 100%;

}

.contenedor{
    width: 80%;
    overflow: hidden;
    margin:auto;
}

#ingreso{
    background-image: url("/images/bears.png");
    height: 100%;
}

#ingreso .caja{
    display: block;
    margin: auto;
    background-color: var(--whiteColor);
    opacity: 50%;
    border-radius: 5px;
    width: 30%;
    padding: 20px;
}
